<h1>Usuario <small>Nombre de usuario</small></h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button routerLink="/usuarios"
            class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
      <form (ngSubmit)="guardar( f )"
            #f="ngForm">
        <div class="form-group">
          <label> Firebase ID</label>
          <input type="text" disabled="disabled"
                  class="form-control"
                  placeholder="Firebase ID"
                  [(ngModel)]=usuario.id
                  name="id">
                  <small class="form-text text-muted">
                    Este campo es autogenerado
                  </small>
        </div>

        <div class="form-group">
          <label> Nombre</label>
          <input type="text" required
                 class="form-control"
                placeholder="Nombre del usuario"
                [(ngModel)]=usuario.nombre
                name="nombre">
        </div>

        <div class="form-group">
          <label> Apellido</label>
          <input type="text"
                 class="form-control"
                 placeholder="Apellido del usuario"
                 [(ngModel)]=usuario.apellido
                 name="apellido">
        </div>

        <div class="form-group">
          <label> Edad</label>
          <input type="text"
                 class="form-control"
                 placeholder="Edad del usuario"
                 [(ngModel)]=usuario.edad
                 name="edad">
        </div>

        <div class="form-group">
          <label> Estado Civil</label>
          <br>
          <button *ngIf="usuario.estadoCivil" type="button"
                  (click)="usuario.estadoCivil = false"
                  class="btn btn-outline-success w-50">
          <i class="fa fa-smile-wink"></i>
          Soltero/a
        </button>
        <button *ngIf="!usuario.estadoCivil" type="button"
                (click)="usuario.estadoCivil = true"
                class="btn btn-outline-danger w-50">
          <i class="fa fa-dizzy"></i>
          Casado/a
        </button>
        </div>

        <hr>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary w-25">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </form>
  </div>
</div>
